@use "variables" as v;

.home {
    display: flex;

    .col {
        width: 100%;
        min-height: v.$min-height;
        // background-color: aquamarine;
        padding: v.$site-padding;

        &:nth-child(odd) {
            // background-color: antiquewhite;

        }


    }
}